/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  padding: 100px 0;
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  font-variation-settings: "wght" var(--text-height-font);
  background-image: var(--background-gradient);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  gap: 20px;
  font-family: var(--accent-font);
  text-transform: uppercase;
  text-align: center;
  padding: clamp(120px, 3.637rem + 12.512vi, 130px) 0;
  margin-block-end: 98px;
}

.header__title {
  font-size: clamp(49px, 30.54px + 4.92vw, 65px);
  margin-block-end: 20px;
}

.header__description {
  font-size: clamp(14px, 3.62px + 2.77vw, 23px);
}

.box-bordered {
  width: clamp(375px, 100vw, 700px);
  background-color: #fff;
  border: 2px solid var(--border-color);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.card__title {
  font-size: 18px;
  padding: 4px 10px;
  font-variation-settings: "wght" var(--title-height-font);
}

.card__image {
  position: relative;
  display: flex;
  flex-direction: column;
  border-block-start: 1px solid var(--border-color);
  border-block-end: 1px solid var(--border-color);
  object-fit: cover;
}

.card__image-img {
  aspect-ratio: 1 / 1;
}

.card__image-label {
  position: absolute;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  inset-block-start: 25px;
  inset-inline-end: 25px;
  font-size: 14px;
  font-family: var(--accent-font);
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  z-index: 1;
}

@supports (-webkit-text-stroke: 1px #fff) or (text-stroke: 1px #fff) {
  .card__image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
  }
}

.anticipation {
  filter: brightness(1);
}

.fright {
  filter: blur(3px) grayscale(0.7);
}

.relief {
  filter: saturate(200%);
}

.responsibility {
  filter: sepia(0.8);
}

.answers {
  filter: hue-rotate(0.7turn);
}

.time {
  filter: contrast(200%) blur(8px) invert(0.2);
}

.determination {
  filter: brightness(0.7);
}

.continued {
  filter: saturate(0.9);
}

.card_content {
  line-height: 117%;
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 25px;
}

.card__buttons {
  display: flex;
  gap: 5px;
  justify-content: flex-end;
  padding: 0 25px 25px 25px;
  background-color: #fff;
}

.card__icon-button {
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  border: none;
  width: 38px;
  height: 38px;
  background-color: inherit;
}

.contour{
  transition: fill 0.1s linear;
}

.main-body {
  transition: fill 0.3s linear;
}

.core {
  transition: fill 0.3s linear 0.03s;
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition: fill 0.3s linear;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.heart {
  transform-origin: center;
  transform: scale(1);
}

.like-icon.is-liked .heart {
  animation: scaleicon 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: sparkcolor 0.3s ease-in 0.3s;
}

.card__icon-button:focus-visible {
  outline: none;
  border: 2px solid var(--border-color);
  transition: border 0.3s ease;
}

.button__text {
  position: relative;
  z-index: 1;
  color: #fff;
  mix-blend-mode: difference;
}

.buttons-design {
  position: relative;
  font-family: var(--accent-font);
  font-size: 14px;
  background-color: #fff;
}

.buttons-design:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--accent-color);
  transition: box-shadow 0.3s ease;
}

.buttons-design::before {
  content: "";
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 0;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.buttons-design:hover::before {
  transform: scaleX(1);
}

.card__like-button {
  width: 130px;
  height: 38px;
  border: 2px solid var(--border-color);
}

.button-save {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 15px;
  gap: 8px;
  border: 2px solid var(--border-color);
  width: clamp(306px, 272.54px + 8.92vw, 335px);
}

.button-save-icon {
  color: #fff;
  mix-blend-mode: difference;
}

.dialog__insert-confirm {
  padding: 30px;
  border: 2px solid var(--border-color);
  width: clamp(341px, 90vw, 353px);
}

.dialog__insert-confirm::backdrop {
  background-color: var(--accent-color);
  opacity: 75%;
}

.dialog__insert-confirm[open] .form-submit {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(2, min-content);
  column-gap: 20px;
  row-gap: 30px;
}

.dialog_icon {
  align-self: center;
}

.dialog__text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog__button-confirm {
  outline: none;
  border: 2px solid var(--border-color);
  text-transform: uppercase;
  min-block-size: 38px;
  grid-row: 2;
  grid-column: 1 / 3;
}

@media (width <= 375px) {
  .button-save {
    flex-direction: column;
  }

  .button-save-icon {
    width: 28px;
    height: 28px;
  }
}
